.galeria{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.galeria img{
    background-color: white;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 8px;
    width: 300px;
    text-align: center;
    object-fit: cover;
    height: 300px;
}
@media(max-width: 600px){
    .galeria img{
        object-fit: contain;
        width: 100%;
    }
}