.servicios{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.servicio{
    background-color: white;
    padding: 20px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

@media(max-width: 600px){
    .servicio{
        width: 100%;
    }
}